
_data/.vs/slnx.sqlite
_data/.vs/_data/v16/.suo
_data/.vs/_data/v16/TestStore/0/000-0000.testlog
_data/.vs/_data/v16/TestStore/0/testlog.manifest
_data/.vs/ProjectSettings.json
.vs/nicolas-risberg.github.io/v16/.suo
.vs/nicolas-risberg.github.io/v16/TestStore/0/000-0000.testlog
.vs/nicolas-risberg.github.io/v16/TestStore/0/testlog.manifest
.vs/ProjectSettings.json
.vs/slnx.sqlite
_data/.vs/VSWorkspaceState.json
